$primary-color: #800000;

:root {
  --background-color: white;
  --font-color: black;
  --primary-color: #{$primary-color};
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #212121;
        --font-color: white;
        --primary-color: #ff3636; 
    }
}
*/
