$primary-color: #800000;

:root {
  --background-color: white;
  --font-color: black;
  --primary-color: #{$primary-color};
  --button-text: white;
  --odd-bg-color: #eee;
  --hover-bg-color: #f5f5f5;
}

[data-theme="dark"] {
  --background-color: #171717;
  --font-color: white;
  --primary-color: #ff3636;
  --button-text: #171717;
  --odd-bg-color: #212121;
  --hover-bg-color: #141414;
}
