html,
body {
    font-family: $font-family-sans;
    margin: 0;
    padding: 0;

    background: var(--background-color);
    color: var(--font-color);

    line-height: 1.5;
    font-size: $font-size-desktop;

    @media screen and (max-width: $breakpoint-medium) {
        font-size: $font-size-mobile;
    }
}

.container {
    margin: 0 auto;
    max-width: $page-width-max; 
    padding: $default-padding;
}

a {
    box-sizing: border-box;
    display: inline;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;

    &:hover:not(.logo) {
        background: var(--primary-color);
        color: white;
    }
}

img {
    &.illustration {
        max-width: 75%;
        display: block;
        margin: 0 auto;
    }
}
