<header>
  <a href="/" class="logo">
    {{ load_data(path="static/logo.svg") | safe }}
    <span class="logo--text">friByte</span>
  </a>
  <ul class="navigation">
    {% for page in config.extra.nav %}
    {% set path = page.path ~'/' %}
    <li
      class="nav--link {% if current_path and current_path == path %}current{% endif %}">
      <a href="{{ get_url(path=page.path) }}">{{ page.name }}</a>
    </li>
    {% endfor %}
    <span class="theme-switcher">
      {{ load_data(path="static/img/icons/light.svg") | safe }}
      <label id="theme-switch" class="theme-switch switch" for="checkbox_theme">
        Temabytter
        <input type="checkbox" id="checkbox_theme" />
        <span class="slider round"></span>
      </label>
      {{ load_data(path="static/img/icons/dark.svg") | safe }}
    </span>
  </ul>
</header>
