button, .btn {
    padding: .75em 1em;
    cursor: pointer;
    @include box;
    z-index: 1;
    opacity: 1;
    font-family: $font-family-mono;
    text-transform: lowercase;
    transition: all 350ms ease;

    &:hover {
        box-shadow: .15em .25em black !important;
    }

    &:active {
        box-shadow: 0 0 0 .25em black !important;
    }

    &.primary {
        @include box-primary;
    }

    &.center {
        text-align: center;
    }

    &.underscore::after {
        @include animation-underscore;
    }
}

.button-container {
    display: block;

    &.center {
        display: flex;
        justify-content: space-around;
    }
}
