header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: $default-padding 0;
    font-size: 2em;

    .logo {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;
        cursor: pointer;

        svg {
            width: 80px;
            margin-right: 1em;
            fill: var(--primary-color);
        }
        .logo--text {
            color: var(--font-color);
            font-family: $font-family-mono;
            &:hover {
                background: $primary-color;
                color: white;
            }
            &::after {
                content: '_';
                animation: blink-animation 1s steps(2, start) infinite;

                @keyframes blink-animation {
                    to {
                        visibility: hidden;
                    }
                }
            }
        }
    }

    ul.navigation {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 0.75em;
            display: inline;
            &:not(:last-of-type) {
                margin-right: 1em;
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        justify-content: center;

        .logo {
            margin-bottom: 1em;
        }
    }
}
