<footer>
    <div class="footer--resources">
        <h1>Ressurser</h1>
        <ul class="footer--list footer--navigation">
            {% assign pages = site.pages | where: "menu", "footer" %}
            {% for page in pages %}
                <li><a class="footer--link" href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            <li>
                <a class="footer--link" href="/feed.xml">RSS</a>
            </li>
        </ul>
    </div>
    <div class="footer--contact">
        <h1>Kontakt</h1>
        <ul class="footer--list">
            <li>Org.nr. 984 397 569</li>
            <li>
                <a class="footer--link" href="mailto:{{ site.data.fribyte.email.general }}">
                    {{ site.data.fribyte.email.general }}
                </a>
            </li>
            <li>
                <a href="https://twitter.com/fribyte" target="_blank" class="footer--link">Twitter</a>
            </li>
        </ul>
    </div>
    <div class="footer--copyright-developed-by">
        <span class="footer--copyright">
            Kopirett &copy; friByte {{ "now" | date: "%Y" }}
        </span>
        <span class="footer--developed-by">
            Utviklet av 
            <a href="https://timharek.no" target="_blank" class="footer--link">Tim Hårek</a>
        </span>
    </div>
</footer>
