<head>
    {% if page.title %}
        {% assign page_title = site.title | append: ' - ' | append: page.title %}
        <title>{{ page_title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#{{ site.primary_color }}">
    <meta name="description" content="{{ page.excerpt | default: page.description | default: site.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page_title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | default: page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image | default: "/assets/img/cover.png" | relative_url }}">
    <meta property="og:title" content="{{ page_title | default: site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.excerpt | default: page.description | default: site.description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}{{ page.image | default: "/assets/img/cover.png" | relative_url }}">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="#800000">

    <link rel="shortcut icon" sizes="192x192" href="{{ "/assets/img/fb_icon.svg" | relative_url }}">
    <link rel="apple-touch-icon" href="{{ "/assets/img/fb_icon.svg" | relative_url }}">
    <link rel="mask-icon" href="{{ "/assets/img/fb_icon.svg" | relative_url }}">

    <link rel="preload" href="{{ "/assets/main.css" | relative_url }}" as="style">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }}" />

    {%- feed_meta -%}
</head>
