<ul class="latest-news--list">
    {% for post in site.posts limit: include.limit %}
        <li class="latest-news--post">
            <div class="post--metadata">
                <span class="post--date">{{ post.date | date: "%Y-%m-%d" }}</span>
            </div>
            <div class="post--summary">
                <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
                <span class="post--excerpt">
                {% if include.newspage %}
                        {{ post.excerpt }}
                {% endif %}
                </span>
            </div>
        </li>
    {% endfor %}
</ul>

