footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: $default-padding 0;
  border-top: 2px solid var(--primary-color);
  margin-top: 2em;

  .footer--copyright-developed-by {
    flex: 1 0 100%;
    text-align: center;
  }

  .footer--copyright {
    display: block;
  }

  .footer--developed-by {
    font-size: 0.5em;
  }

  .footer--list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .footer--link {
    text-decoration: underline;
  }

  .footer__heading {
    font-size: 1em;
    margin: 0;
  }

  .footer--sponsors {

    #vv-logo {
      background-size: contain;
      height: 4rem;
      width: 10rem;
    }
  }
}