header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: $default-padding 0;
  font-size: 2em;

  .logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

    svg {
      width: 80px;
      margin-right: 1em;
      fill: var(--primary-color);
      transition: 250ms ease all;

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
    .logo--text {
      display: inline-flex;
      color: var(--font-color);
      font-family: $font-family-mono;
      &:hover {
        background: var(--primary-color);
        color: var(--button-text);
      }
      &::after {
        margin-left: 0.1em;
        @include animation-underscore;
      }
    }
  }

  ul.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    .nav--link {
      font-size: 0.75em;
      display: inline;
      border-bottom: 5px solid transparent;

      &.current {
        border-bottom: 5px solid var(--primary-color);
      }
    }
  }

  @media screen and (max-width: $breakpoint-medium) {
    justify-content: center;

    .logo {
      margin-bottom: 1em;
    }
  }
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 1.5rem;
  }
}

/* The switch - the box around the slider */
.switch {
  --containter-width: 3.5rem;
  --containter-height: 1.75rem;
  --toggle-size: calc(var(--containter-width) / 3);
  --toggle-padding: 0.3rem;
  position: relative;
  display: inline-block;
  width: var(--containter-width);
  height: var(--containter-height);

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 400ms;

    &:before {
      position: absolute;
      content: "";
      height: var(--toggle-size);
      width: var(--toggle-size);
      left: var(--toggle-padding);
      top: calc(50% - calc(var(--toggle-size) / 2));
      background-color: white;
      transition: 400ms;
    }

    /* Rounded sliders */
    &.round {
      border-radius: 99999px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input:checked + .slider {
    background-color: var(--primary-color);
  }

  input:focus + .slider {
    outline: 0.25rem solid var(--primary-color);
  }

  input:checked + .slider:before {
    transform: translateX(
      calc(
        var(--containter-width) -
          calc(var(--toggle-size) + calc(var(--toggle-padding) * 2))
      )
    );
  }
}
