{% extends "base/default.html" %}

{% block head %}
  {% set taxonomy_name = taxonomy.name|capitalize %}
  {% set title = taxonomy_name ~ ": " ~ term.name ~ " - " ~ config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}

<section class="page-content">
  <h1 class="page-title">{{ term.name }}</h1>
  <ul>
    {% for page in term.pages %}
      <li><a href="{{ page.path }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</section>

{% endblock content %}

