---
layout: default
title: Kontakt 
menu: main
permalink: kontakt
description: friBytes kontaktinformasjon og medlemsoversikt.
order: 1
---
<h1>Kontakt oss</h1>
<ul>
    <li>
        Generell kontakt: <a href="mailto:{{ site.data.fribyte.email.general }}">{{ site.data.fribyte.email.general }}</a>
    </li>
    <li>
        Kundesupport: <a href="mailto:{{ site.data.fribyte.email.support }}">{{ site.data.fribyte.email.support }}</a>
    </li>
</ul>

<h2>Aktive medlemmer</h2>
<div class="table-wrapper">
    <table class="members active">
        <tr>
            <th>Navn</th>
            <th>Stilling</th>
            <th>E-post</th>
        </tr>
        {% assign members_active = site.data.members | where: "active", "true" %}
        {% assign members_admin = members_active | where: "admin", "true" %}
        {% assign members_regular = members_active | where: "position", "Medlem" %}
        {% assign members_regular = members_regular | sort: "name" %}
        {% for admin in members_admin %}
            <tr>
                <td>{{ admin.name }}</td>
                <td>{{ admin.position }}</td>
                <td>
                    <a href="mailto:{{ admin.email }}">{{ admin.email }}</a>
                </td>
            </tr>
        {% endfor %}
        {% for member in members_regular  %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.position }}</td>
                <td>
                    <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<h2>Tidligere medlemmer</h2>
<div class="table-wrapper">
    <table class="members inactive">
        <tr>
            <th>Navn</th>
            <th>Stilling</th>
        </tr>
        {% assign members_inactive = site.data.members | where: "active", "false" %}
        {% for member in members_inactive %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.position }}</td>
            </tr>
        {% endfor %}
    </table>
    </table>
</div>
