{% extends "base/default.html" %}

{% block head %}
  {% set title = config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}
  <section class="hero">
    {% set boskonf_live = config.extra.boskonf_live %}

    {% if boskonf_live %}
      <div id="banner"></div>

      <style>
        [data-theme="dark"] #banner {
          background: url({{get_url(path="/img/boskonf_banner_dark.svg") | safe }}) center / cover;
        }
        #banner {
          width: 100%;
          height: 350px;
          display: block;
          position: relative;
          background: url({{get_url(path="/img/boskonf_banner.svg") | safe }}) center / cover no-repeat;
          background-size: contain;
        }
      </style>

      <p>
        Velkommen til <a href="https://boskonf.no/">Bergen Open Source</a>, arrangert av friByte! Utforsk åpen kildekode gjennom innsiktsfulle foredrag fra erfarne IT-utviklere og lidenskapelige entusiaster. Bli med og oppdag kraften av åpen kildekode i hjertet av Bergen!
      </p>
      <div class="button-container center">
        <a href="https://boskonf.no/" class="btn primary center underscore">boskonf.no</a>
      </div>
    {% else %}
      <div id="illustration"></div>

      <style>
        [data-theme="dark"] #illustration {
          background: url({{get_url(path="/img/illustrations/dark_undraw_server.svg") | safe }}) center / cover no-repeat;
          background-size: contain;
        }
        #illustration {
          width: 100%;
          height: 20vh;
          display: block;
          position: relative;
          background: url({{get_url(path="/img/illustrations/undraw_server.svg") | safe }}) center / cover no-repeat;
          background-size: contain;
        }
        @media (min-width: 992px) {
          #illustration {
            width: 100%;
            height: 60vh;
          }
        }
      </style>

      <p>
        {{ config.description }}
      </p>
      <div class="button-container center">
        <a href="{{ get_url(path="@/bli-medlem.md") }}" class="btn primary center underscore">{{ trans(key="bli_medlem", lang=lang) }}</a>
      </div>
    {% endif %}
  </section>

  {% if lang == 'no' %}
    <section class="contact">
      <h2>Kontakt</h2>
      <p>
        Hvis du er en studentorganisasjon som søker å inngå en avtale med oss, kontakt oss direkte på
        <a href="mailto:{{ config.extra.email_general }}">{{ config.extra.email_general }}</a>.
      </p>
      <p>
        Ta gjerne kontakt med oss om det er noe du lurer på. Du kan finne en liste over medlemmer og kontaktinformasjon på
        <a href="/kontakt">Kontakt oss</a>, og mer informasjon om organisasjonen friByte på <a href="/om">Om oss</a>.
      </p>
      <p>
        Vi prøver å være lett tilgjengelige og svare raskt på alle henvendelser. Ta også gjerne kontakt med oss om du har
        tilbakemeldinger på tjenestene vi leverer. Vi setter pris på all konstruktiv kritikk. :)
      </p>
    </section>
    <section class="urgent-help">
      <h2>Trenger du umiddelbar hjelp?</h2>
      {% set nestleder = load_data(path="content/kontakt/members.json") | filter(attribute="position", value="nestleder")%}
      <p>
        Skulle det oppstå akutte problemer ved tjenestene vi leverer, kan du kontakte vår nestleder
        {{ nestleder[0].name }}, {% if nestleder[0].phone %}via telefon <a href="tel:{{ nestleder[0].phone }}">{{
          nestleder[0].phone }}</a>{% else %}via e-post <a href="mailto:{{ nestleder[0].email }}">{{ nestleder[0].email }}{%
          endif %}</a>.
      </p>
    </section>

    <section class="latest-news">
      <h2>Siste nytt</h2>
      {% set news = get_section(path="nyheter/_index.md") %}
      <ul>
        {% for post in news.pages | slice(end=5) | sort(attribute="date") | reverse %}
        <li>
          <a href="{{ get_url(path=post.path) }}">
            {{ post.title }} ({{ post.date | date(format="%Y-%m-%d") }})
          </a>
        </li>
        {% endfor %}
      </ul>
      <a href="{{ get_url(path="@/nyheter/_index.md") }}" class="btn primary">Flere nyheter...</a>
    </section>
  {% endif %}
{% endblock content %}