{% extends "base/default.html" %}

{% block head %}
  {% set title = config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}
  <section class="hero">
    {% set custom_hero = config.extra.custom_hero %}

    {% if custom_hero %}
      <section class="pyro-container">
        <div class="pyro">
          <div class="before"></div>
          <div class="after"></div>
        </div>
      </section>
      <div class="banner-container center">
        <h2 class="banner">Vi vant Årets Studentorganisasjon 2023!!🎉</h2>
      </div>
      <br/>
      <p>
        15. februar var vi på Studentlivkonferansen på Det Akademiske Kvarter. Her ble årets studentorganisasjon 2023 kåret, og vi gikk av med seieren!!💫
        Dette var helt utrolig gøy! 
      </p>
      <p>
        Med disse midlene kan vi forbedre utstyret og tjenestene våre for å gi en enda bedre opplevelse for alle organisasjonene vi betjener.
        Tusen takk til juryen for at de har valgt oss, og tusen takk til 
        <a href="https://www.instagram.com/sammenbergen/" target="_blank">Sammen Bergen</a>, 
        <a href="https://www.instagram.com/sammenstudentliv/ target="_blank"">Sammen Studentliv</a> og 
        <a href="https://www.instagram.com/vtvest/" target="_blank">VtVest</a> for en fantastisk konferanse! 😍🙌🏽
      </p>
    {% else %}
      <style>
        [data-theme="dark"] #illustration {
          background: url({{get_url(path="/img/illustrations/dark_undraw_server.svg") | safe }}) center / cover no-repeat;
          background-size: contain;
        }
        #illustration {
          width: 100%;
          height: 20vh;
          display: block;
          position: relative;
          background: url({{get_url(path="/img/illustrations/undraw_server.svg") | safe }}) center / cover no-repeat;
          background-size: contain;
        }
        @media (min-width: 992px) {
          #illustration {
            width: 100%;
            height: 60vh;
          }
        }
      </style>
      <div id="illustration"></div>

      <p>
        {{ config.description }}
      </p>
      <div class="button-container center">
        <a href="{{ get_url(path="@/bli-medlem.md") }}" class="btn primary center underscore">{{ trans(key="bli_medlem", lang=lang) }}</a>
      </div>
    {% endif %}
  </section>

  {% if lang == 'no' %}
    <section class="contact">
      <h2>Kontakt</h2>
      <p>
        Hvis du er en studentorganisasjon som søker å inngå en avtale med oss, kontakt oss direkte på
        <a href="mailto:{{ config.extra.email_general }}">{{ config.extra.email_general }}</a>.
      </p>
      <p>
        Ta gjerne kontakt med oss om det er noe du lurer på. Du kan finne en liste over medlemmer og kontaktinformasjon på
        <a href="/kontakt">Kontakt oss</a>, og mer informasjon om organisasjonen friByte på <a href="/om">Om oss</a>.
      </p>
      <p>
        Vi prøver å være lett tilgjengelige og svare raskt på alle henvendelser. Ta også gjerne kontakt med oss om du har
        tilbakemeldinger på tjenestene vi leverer. Vi setter pris på all konstruktiv kritikk. :)
      </p>
    </section>
    <section class="urgent-help">
      <h2>Trenger du umiddelbar hjelp?</h2>
      {% set nestleder = load_data(path="content/kontakt/members.json") | filter(attribute="position", value="nestleder")%}
      <p>
        Skulle det oppstå akutte problemer ved tjenestene vi leverer, kan du kontakte vår nestleder
        {{ nestleder[0].name }}, {% if nestleder[0].phone %}via telefon <a href="tel:{{ nestleder[0].phone }}">{{
          nestleder[0].phone }}</a>{% else %}via e-post <a href="mailto:{{ nestleder[0].email }}">{{ nestleder[0].email }}{%
          endif %}</a>.
      </p>
    </section>

    <section class="latest-news">
      <h2>Siste nytt</h2>
      {% set news = get_section(path="nyheter/_index.md") %}
      <ul>
        {% for post in news.pages | slice(end=5) | sort(attribute="date") | reverse %}
        <li>
          <a href="{{ get_url(path=post.path) }}">
            {{ post.title }} ({{ post.date | date(format="%Y-%m-%d") }})
          </a>
        </li>
        {% endfor %}
      </ul>
      <a href="{{ get_url(path="@/nyheter/_index.md") }}" class="btn primary">Flere nyheter...</a>
    </section>
  {% endif %}
{% endblock content %}