{% extends "base/default.html" %}

{% block head %}
{% set title = page.title ~ ' - ' ~ config.title %}
{% set description = page.description %}
{% endblock head %}

{% block content %}
  <h1>{{ trans(key="kontakt_oss", lang=lang) }}</h1>
  <ul>
    <li>
      {{ trans(key="generell_kontakt", lang=lang) }}: <a href="mailto:{{ config.extra.email_general }}">{{ config.extra.email_general }}</a>
    </li>
    <li>
      {{ trans(key="kundesupport", lang=lang) }}: <a href="mailto:{{ config.extra.email_support }}">{{ config.extra.email_support }}</a>
    </li>
  </ul>
  {% set members_list = load_data(path="content/kontakt/members.json") %}
  {% for isActive, members in members_list | group_by(attribute="active") %}
  {% if isActive == "true" %}
    <h2>{{ trans(key="aktive_medlemmer", lang=lang) }}</h2>
  {% else %}
    <h2>{{ trans(key="inaktive_medlemmer", lang=lang) }}</h2>
    {% set members = members | sort(attribute="position") %}
  {% endif %}
  
  <div class="table-wrapper">
    <table class="members {% if isActive == " true" %}active{% else %}inactive{% endif %}">
      <tr>
        <th>{{ trans(key="navn", lang=lang) }}</th>
        <th>{{ trans(key="stilling", lang=lang) }}</th>
        {% if isActive == "true" %}
          <th>{{ trans(key="epost", lang=lang) }}</th>
        {% endif %}
      </tr>
      {% for member in members %}
        <tr>
          <td>{{ member.name }}</td>
          <td>{{ trans(key=member.position, lang=lang) | default(value=member.position) }}</td>
          {% if isActive == "true" %}
            <td>
              {% if member.email %}<a href="mailto:{{ member.email }}">{{ member.email }}</a>{% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}

{% endblock content %}