{% extends "base/default.html" %}

{% block head %}
  {% set title =  page.title ~ ' - ' ~ config.title %}
  {% set description = page.description %}
{% endblock head %}

{% block content %}
<h1>Kontakt oss</h1>
<ul>
    <li>
        Generell kontakt: <a href="mailto:{{ config.extra.email_general }}">{{ config.extra.email_general }}</a>
    </li>
    <li>
        Kundesupport: <a href="mailto:{{ config.extra.email_support }}">{{ config.extra.email_support }}</a>
    </li>
</ul>
{% set members_list = load_data(path="content/kontakt/members.json") %}

{% for isActive, members in members_list | group_by(attribute="active") %}
  {% if isActive == "true" %}
    <h2>Aktive medlemmer</h2>
  {% else %}
    <h2>Inaktive medlemmer</h2>
  {% endif %}
  <div class="table-wrapper">
    <table class="members {% if isActive == "true" %}active{% else %}inactive{% endif %}">
      <tr>
        <th>Navn</th>
        <th>Stilling</th>
        {% if isActive == "true" %}
          <th>E-post</th>
        {% endif %}
      </tr>
      {% for member in members %}
        <tr>
          <td>{{ member.name }}</td>
          <td>{{ member.position }}</td>
          {% if isActive == "true" %}
            <td>
              {% if member.email %}<a href="mailto:{{ member.email }}">{{ member.email }}</a>{% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endfor %}

{% endblock content %}
