.table-wrapper {
  overflow-x: auto;
}
.members {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  tr,
  th,
  td {
    text-align: left;
    padding: 0.5em;
    white-space: nowrap;
  }

  td {
  }

  tr {
    &:hover :not(th) {
      background: var(--hover-bg-color);
    }
    &:nth-child(even) {
      background: var(--odd-bg-color);
    }
  }
}
