.latest-news--list {
    margin-left: 0;
    padding: 0;

    .latest-news--post {
        margin-bottom: 1.5em;
        list-style: none;
        display: flex;

        @media (max-width: $breakpoint-medium) {
            display: block;
        }

        .post--metadata {
            margin-right: 1em;
            max-width: 100px;
            width: 100%;
        }

        .post--summary {
            hyphens: auto;
        }

        .post--excerpt {
            display: block;
        }

        p {
            margin: 0;
        }
    }
}
